.simple-table thead tr {
    background-color: #EEEEEE;
}

.simple-table thead th {
    font-weight: bold !important;
    font-size: 15px !important;
    text-align: center !important;
    color:#000 !important;
}

.simple-table table>tbody>tr>td {
    height: 40px !important;
}

h3 {
    margin-top: 15px;
    margin-bottom: 15px;
} 

.penta-bg-blue {
    background-color: #5773ff !important;
    color: #fff !important;
}

.detail-comment {
    margin-bottom : 50px;
}

.detail-wrap {
    font-size: 16px;
    font-weight: 500;
}

.success-message {
    color: #2196f3;
}

.warning-message {
    color: #fb8c00;
}

.fail-message {
    color: red;
}

.margin-1-top {
    margin-top: 10px;
}